<div class="poll-card">
  <div class="poll-header">
    <span class="poll-status" [style.color]="getStatusColor(poll.status)">
      {{ getStatusLabel(poll.status) }}
    </span>
  </div>

  <div class="poll-options">
    <div
      *ngFor="let option of poll.options; let i = index"
      class="poll-option"
      [class.winner]="option.voteCount === Math.max(...poll.options.map(o => o.voteCount))"
      [class.voted]="userVoteOptionId === option.id"
      [class.clickable]="canVote()"
      (click)="onOptionClick(option.id)">
      <div class="poll-bar" [style.width]="getVotePercentage(option) + '%'"></div>
      <span class="option-label">{{ getVotePercentage(option) }}%</span>
      <span class="option-description">{{ option.description }}</span>
    </div>
  </div>

  <div class="poll-footer" *ngIf="poll.totalVotes > 0">
    <span class="total-votes">{{ poll.totalVotes }} votes</span>
  </div>
</div>
